@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';

.webviewer {
	min-height: $sign-preview-items;
	max-height: $sign-preview-items;
}

.preview-file {
	// display: flex;
	// flex-direction: row;
	// align-items: stretch;
	height: 100%;
	max-height: $sign-preview-items;
	padding: 1rem;
	overflow-y: auto;

	&__thumbnail {
		width: 100%;
		height: 15rem;
	}
}

@media (max-width: 600px) {
	.webviewer {
		min-height: 50vh;
		max-height: $sign-preview-items;
	}
}
