
@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';

.container {
	height: $content-height;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	display: flex;
	justify-content: center;
	align-items: center;
	// margin: 5rem 0;
}

.change-password__form {
	padding: 3em;
		width: 40em;
		overflow: auto;
}
