$main-bg: #fff;
$main-color: #1976d2;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 70px;
$header-tablet-height: 50px;
$header-mobile-height: 50px;
$header-shrink-height: 70px;

$footer-height: 3rem;
$footer-tablet-height: 40px;
$footer-mobile-height: 40px;

$content-height: calc(100vh - #{$header-height} - #{$footer-height});
$content-tablet-height: calc(100vh - #{$header-tablet-height} - #{$footer-tablet-height});
$content-mobile-height: calc(100vh - #{$header-mobile-height} - #{$footer-mobile-height});

$content-height-no-header: calc(100vh - #{$footer-height});

$sign-content-height: calc(100% - 5rem);
$sign-preview-items: calc(#{$content-height} - 17vh);


$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
    "blue": #1976d2,
    "orange": #fbb96b,
    "pink": #fe7e73,
    "white": #fff,
    "black": #000,
    "main": $main-color,
    "red": #ff0000,
);

$mobile-width: 600px;
$tablet-width: 900px;
