@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';

.thank-register {
	min-height: $content-height;
	@include flex(center, center);

	@include tablet {
		display: block;
		height: $content-tablet-height;
	}

	&__title {
		text-align: center;
		margin-bottom: 50px;
		font-size: 30px;
		color: rgb(77, 110, 201);
	}

	&__mail {
		text-align: center;
	}
	&__check {
		text-align: center;
		margin-bottom: 10px;
		font-size: 20px;
	}

	&__redirect-login {
		a {
			@include flex(center, center);
			margin-bottom: 50px;
			font-size: 15px;
			color: #002da7;
		}
	}

	&__question {
		text-align: center;
		font-size: 15px;
		color: rgb(109, 109, 109);
	}
}
