@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';

.sign-document {
	min-height: $content-height-no-header;
}

.webviewer {
	height: $content-height;
}

.document_list {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	max-height: $content-height;
	overflow-y: auto;
}
