@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';

.content {
	padding: 20px;

	&-pagination {
		ul {
			justify-content: center !important;
			margin: 20px 0;
		}
	}

	.table-document {

		&-body {

			tr {

				&:hover {
					background-color: #eaf3ff;
				}
			}
		}
	}
}
