.detail-waiting {
	height: 100%;

	&-main {
		height: 100%;

		//border-right: 0.5px solid #eeeeee;
		padding: 20px;

		.content-info {
			border-bottom: 0.5px solid #eeeeee;
			padding-bottom: 30px;
			margin-bottom: 30px;

			&-title {
				font-size: 15px;
				font-weight: 600;
				margin-bottom: 10px;
			}

			p {
				opacity: 0.6;
				margin-bottom: 10px;
			}

			&-ground-btn {
				margin-top: 30px;

				button {
					margin-right: 20px;
					width: 120px;
				}
			}
		}

		.content-receivers {
			padding-bottom: 30px;

			&-title {
				font-size: 15px;
				font-weight: 600;
			}

			&-item {
				border-bottom: 0.5px solid #eeeeee;
				padding-bottom: 15px;

				.item-info {
					display: flex;
					justify-content: space-between;
					padding: 20px 0;

					.receiver-info {
						display: flex;
						align-items: center;

						h6 {
							margin-right: 10px;
						}
						p:nth-child(1) {
							padding-bottom: 5px;
						}

						p:nth-child(2) {
							opacity: 0.6;
						}
					}

					.receiver-sign-info {
						min-width: 170px;

						p:nth-child(1) {
							padding-bottom: 5px;
						}
						p:nth-child(2) {
							opacity: 0.6;
						}
					}
				}

				.receiver-private-message {
					display: flex;
					align-items: center;

					h6 {
						width: 15px;
					}
					.private-message-title {
						font-size: 14px;
						margin-top: 3px;
						margin-bottom: 5px;
					}
					.private-message-content {
						opacity: 0.6;
					}
				}
			}
		}

		.content-other {
			&-title {
				font-size: 15px;
				font-weight: 600;
				margin-bottom: 10px;
			}

			p {
				opacity: 0.6;
				margin-bottom: 10px;
			}
		}
	}

	&-thumbnail {
		height: 100%;
		padding: 20px;

		.preview-file-detail {
			height: 80vh;
			overflow-y: scroll;
			border: 0.5px solid #eeeeee;
			padding: 20px 20px 20px 20px;
			text-align: center;

			.preview-file__item {
				padding-bottom: 20px;

				.preview-file__thumbnail {
					border: 0.5px solid #ebebeb;
					margin-bottom: 10px;
				}

				.preview-file__info {
					text-align: center;
				}
			}
		}
	}
}
