@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';

.add-receivers__title {
	display: flex;
	align-items: center;
	height: 10%;
}

.add-receivers__container {
	display: flex;
	flex-direction: column;
	max-height: $sign-preview-items;
	height: 90%;
	color: #2F80ED;
	margin: 0 2rem;
}

.receiver__list {
	height: 100%;
	max-height: $sign-preview-items;
	// padding: 1rem;
	overflow-y: auto;
}
