@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';

.add-receivers__title {
	display: flex;
	align-items: center;
	height: 10%;
}

.add-receivers__container {
	display: flex;
	flex-direction: column;
	max-height: $sign-preview-items;
	height: 90%;
	color: #2f80ed;
	margin: 0 2rem;
	// 	overflow: auto;
	// 	-ms-overflow-style: none;  /* IE and Edge */
	//   scrollbar-width: none;  /* Firefox */
}

.receiver__list {
	height: 90%;
	max-height: $sign-preview-items;
	width: 100%;
	// padding: 1rem;
	overflow-y: auto;
}
