.btn-action {
	background-color: #eaf3ff !important;
	color: #2f80ed !important;
	box-shadow: none !important;
	border-radius: 5px !important;
}

.list-action {
    box-shadow: none !important;

    ul {
        width: 165px !important;
    }
}
