.tool-bar a {
	width: 100px;
	height: 100%;
	text-decoration: none;
	color: rgb(255, 255, 255);
	opacity: 0.5;
	margin: 0 2px;
	text-align: center;
	line-height: 100%;
	transition: all 0.3s ease 0s;

	&:hover,
	&.active {
		opacity: 1;
	}
}
