@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';
.menu-mobile {
	padding: 0;
	.active {
		font-size: 15px !important; 
		color: rgb(255, 255, 255);
		opacity: 1;

		& > div {
			background-color: $main-color;
		}

		svg {
			color: white;
		}
	}
}

.menu-icon {
    margin: auto;
    font-size: 30px !important;

    @include mobile {
       font-size: 25px !important;
    }
}
