@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';

footer {
	// position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f9f9f9;
	text-align: center;
	height: $footer-height;

	@include tablet {
		height: $footer-tablet-height;
	}

	p {
		line-height: $footer-height;
	}
}
