@import '/src/sass/variables';
@import '/src/sass/mixins';
@import '/src/sass/base';

.upload__title {
	display: flex;
	align-items: center;
	height: 10%;
}

.upload__button {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: $sign-preview-items;
	height: 75%;
	cursor: pointer;
	overflow-y: auto;
}

.preview-file {
	// display: flex;
	// flex-direction: row;
	// align-items: stretch;
	height: 75%;
	max-height: $sign-preview-items;
	// max-height: $sign-preview-items;
	padding: 1rem;
	overflow-y: auto;

	&__thumbnail {
		width: 100%;
        height: 15rem;
	}
}
